
assets/Validaciones/mostrarProducto.js
assets/Validaciones/mostrarProducto.js
view/AgregarProd.php
view/Generalidadespantalla/Menu.php
view/Inventario.php
view/Producto.php
nbproject/private/private.xml
